body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}
.min-width {
  min-width: 1200px;
}

.header-img {
  background-image: url(../images/header-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.header-menu {
  background-color: rgba(94, 93, 88, 60%);
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  position: relative;
  margin-right: 310px;
}

.logo-bg {
  float: left;
  margin-top: 26px;
}

.logo-link {
  text-decoration: none;
}

.logo-symbol {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
  color: #ffffff;
  position: absolute;
  left: 13px;
  top: 43px;
}

.logo-text {
  float: right;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  margin-top: 36px;
  margin-bottom: 36px;
  margin-left: 6px;
  color: #ffffff;
}

.accent-color {
  font-family: "Montserrat", sans-serif;
  color: #18cfab;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.menu-item {
  padding-right: 21px;
}

.menu-link {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  position: relative;
}

.menu-link:hover {
  color: #18cfaa;
}
.menu-link:hover::after {
  content: "";
  width: 56px;
  height: 1px;
  background-color: #18cfaa;
  position: absolute;
  top: 68px;
  left: 0;
}

.search-icon {
  cursor: pointer;
}

.about-ham {
  text-align: center;
  margin: 0;
  margin-top: 264px;
  text-transform: uppercase;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
}

.intro-slogan {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 78px;
  margin: 0;
  margin-top: 22px;
}
.ham-slogan {
  text-align: center;
  font-weight: 200;
  opacity: 70%;
  font-size: 35px;
  color: #ffffff;
  margin: 0;
  margin-top: 20px;
}

.intro-buttons {
  margin-top: 150px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 170px 170px;
  grid-column-gap: 26px;
  padding-bottom: 243px;
}

.explore-now-header-button {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding: 17px;
  background-color: #18cfab;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  border-top: 4px solid #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
}

.purchase-now-header-button {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding: 17px;
  background-color: #00cbf6;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  border-top: 4px solid #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
}

.priorities-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 8px;
}

.priorities-item {
  display: flex;
  justify-content: center;
  background-color: #1c2a33;
  padding-top: 95px;
  padding-bottom: 182px;
  position: relative;
}

.priorities-item:nth-child(even) {
  padding-top: 105px;
  background-color: #18cfab;
}

.priorities-text {
  position: absolute;
  bottom: 110px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #18cfab;
  text-transform: uppercase;
}

.priority-text-color {
  color: #ffffff;
}

.our-amazing-work-section {
  background: #e9edef;
  padding-bottom: 200px;
}

.service-item-text-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  padding-left: 0;
}
.service-item-text {
  display: none;
}
.service-item-text.active {
  display: flex;
}
.service-text {
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  padding-left: 15px;
  margin: 0 auto;
}
.service-item-img {
  float: left;
  display: inline;
}
/* .service-text.active {
  display: flex;
  margin: 0 auto;
  padding-left: 15px;
} */
.subtitle {
  margin: 0;
  padding-top: 83px;
  font-weight: 400;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  position: relative;
}

.subtitle-line {
  position: relative;
}

.subtitle-line::before {
  content: "";
  width: 75px;
  height: 1px;
  background: #18cfab;
  position: absolute;
  left: 48%;
  bottom: -30px;
}
.subtitle-line::after {
  content: "";
  width: 75px;
  height: 1px;
  background: #18cfab;
  position: absolute;
  left: calc(50% - 37px);
  bottom: -26px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(6, 193px);
  grid-template-rows: 72px;
  margin: 0;
  padding: 0;
  margin-top: 100px;
  list-style: none;
  margin-bottom: 23px;
  width: 1160px;
}

.service-item {
  margin: 0;
  border: 1px solid #edefef;
  background-color: #f8fcfe;
}

.service-link {
  width: 192px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  border: none;
  background: #edefef;
  font-weight: 400;
  text-decoration: none;
  color: #717171;
  font-size: 16px;
  line-height: 39px;
  position: relative;
}

.service-item:hover {
  border: 1px solid #18cfab;
}
.service-link.active {
  background-color: #18cfab;
  color: #ffffff;
}

.service-link.active::after {
  content: url(../images/rectangle\ .png);
  left: calc(50% - 13px);
  bottom: -25px;
  position: absolute;
}

.purchase-bg {
  background-image: url(../images/purchase-now-bg.jpg);
  margin-top: 91px;

  background-position: center;
  background-repeat: no-repeat;
}

.purchase-now-slogan {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #18cfab;
  padding-top: 125px;
}

.options {
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
  margin: 0;
  margin-top: 12px;
}

.purchase-button {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  padding-bottom: 127px;
}

.purchase-now-button {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding: 17px;
  background-color: #18cfab;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  border-top: 4px solid #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
}

.amazing-work-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  width: 450px;
}

.amazing-work-filter {
  background: none;
  border: 1px solid #dadada;
  padding: 14px 23px;
  font-size: 14px;
  color: #717171;
}

.amazing-work-filter.active {
  border: 1px solid #18cfaa;
  color: #18cfab;
}

.our-amazing-work-project-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 285px);
  grid-auto-rows: 211px;
  margin: 0 auto;
  margin-top: 71px;
}

.our-amazing-work-projects {
  position: relative;
}

.our-amazing-work-projects:hover .project-description {
  display: block;
}
.project-description {
  display: none;
  background-color: #e9edef;
  border-top: 2px solid #18cfaa;
  padding-bottom: 40px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.project-description-more-info-buttons {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.circle-button {
  width: 43px;
  height: 43px;
  border: 1px solid #18cfaa;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  margin-right: 3px;
  background-color: #18cfaa;
  position: relative;
}

.circle-button::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  position: absolute;
  left: 15px;
  top: calc(50% - 6px);
}

.circle-link-button {
  width: 43px;
  height: 43px;
  border: 1px solid #18cfaa;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  margin-right: 3px;
  position: relative;
}
.circle-link-button::after {
  content: url(../images/link-icon.png);
  width: 14px;
  height: 14px;
  position: absolute;
  left: 13px;
  top: calc(50% - 7px);
}
.project-description-title {
  padding-top: 33px;
  text-transform: uppercase;
  color: #18cfaa;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  margin: 0 auto;
}

.project-description-text {
  text-align: center;
  color: #8a8a8a;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
  margin: 0 auto;
  padding: 0;
  padding-top: 4px;
}

.load-more {
  padding-bottom: 100px;
}

.load-more-bttn {
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  border: none;
  background-color: #18cfaa;
  border-radius: 3px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.load-more-txt {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 56px;
  padding-right: 15px;
  position: relative;
}

.load-more-txt::before {
  content: url(../images/plus-icon.png);
  position: absolute;
  left: 16px;
  top: -10px;
}

.breaking-news-list {
  display: grid;
  grid-template-columns: repeat(4, 265px);
  grid-auto-rows: auto;
  gap: 43px 35px;
  list-style: none;
  margin-top: 100px;
  padding-left: 0;
  padding-bottom: 130px;
}

.breaking-news-item {
  position: relative;
}
.breaking-news-item:hover .breaking-news-item-title {
  color: #18cfab;
}

.breaking-news-post-link {
  text-decoration: none;
}

.breaking-news-post-link:hover .date-square {
  background-color: #18cfab;
}

.breaking-news-item-title {
  padding: 0;
  margin: 0;
  padding-left: 25px;
  color: #717171;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 39px;
}

.autor-comments-section {
  display: flex;
  position: relative;
}
.breaking-news-item-subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #777777;
  margin-right: 20px;
  padding-left: 20px;
}

.autor-comments-section::after {
  content: "";
  background-color: #777777;
  height: 13px;
  width: 1px;
  position: absolute;
  left: 110px;
  top: 2px;
}
.date-square {
  width: 70px;
  height: 68px;
  background: #203e38;
  position: absolute;
  right: 2px;
}

.date {
  display: block;
  padding-top: 10px;
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
}

.month {
  margin-top: 5px;
  padding: 0;
}

.feedback-section {
  background-image: url(../images/feedback-section-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.feedback-title {
  color: #ffffff;
  position: relative;
}

.feedback-title::after {
  content: url(../images/feedback-shape.png);
  width: 47px;
  height: 33px;
  position: absolute;
  bottom: -120px;
  left: 49%;
}

.feedback-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  margin-top: 160px;
  align-items: center;
  text-align: center;

  color: #bbbbbb;
}

.feedback-author-photo {
  border: 10px solid rgba(31, 218, 181, 20%);
  border-radius: 50%;
  display: block;
  margin: 50px auto;
}

.feedback-author {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #18cfab;
  text-transform: uppercase;
  margin: 0;
  margin-top: 37px;
}

.feedback-author-job {
  font-family: "Montserrat";
  font-weight: 200;
  opacity: 40%;
  color: #bbbbbb;
  text-align: center;
  margin: 0;
  margin-top: 10px;
  font-size: 13px;
}

.author-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: 38px;
}

.authors-icons {
  padding-right: 25px;
}

.author-icons-photo {
  border-radius: 50px;
  border: 5px solid rgba(31, 218, 181, 20%);
  cursor: pointer;
}

.feedback-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-button {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #bbbbbb;
  width: 31px;
  height: 31px;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.slider-button:hover {
  background-color: #18cfab;
}

.slider-button-left::after {
  content: url(../images/left-arrow.png);
  width: 10px;
  height: 15px;
  position: absolute;
  top: 7px;
  left: 8px;
}
.slider-button-right::after {
  content: url(../images/right-arrow.png);
  width: 10px;
  height: 15px;
  position: absolute;
  top: 7px;
  right: 8px;
}

.authors-icons.hide {
  animation: disappear-icons 0.3s ease-in forwards;
}
@keyframes disappear-icons {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-160px);
  }
}
.authors-icons.not-hidden {
  animation: appear-icons 0.3s ease-in forwards;
}
@keyframes appear-icons {
  0% {
    opacity: 0;
    transform: translateX(-160px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.authors-icons.current-slide {
  transform: scale(1.2) translateY(-20px);
  transition-duration: 500ms;
}

.slider-button.anim {
  animation: slide-btn-anim 0.2s linear forwards;
}

@keyframes slide-btn-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.authors-icons-hidden.animation-appear {
  transform: translateX(-20px);
  animation: appearing-icons 0.3s ease-in forwards;
}
@keyframes appearing-icons {
  0% {
    opacity: 0;
    transform: translateX(160px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.authors-icons-hidden.animation-dissap {
  transform: translateX(-20px);
  animation: disappearing-icons 0.3s ease-in forwards;
}
@keyframes disappearing-icons {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(160px);
  }
}
.footer-section {
  background-color: #22353f;
}

.copyright {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 20px;
  color: #aeaeae;
}
.copyright-accent-color {
  color: #18cfab;
}
